#about {	
	height: 100%;
	width: 100%;
	color: black;
	text-align: left;
	background-color: #E3E3E3;
	padding: 200px;
}


.about-content {
	text-align: center;
	position: relative;
	text-align: left;
	font-size: 15px;
}

@media all and (max-width: 768px) {
	#about {
		padding: 50px;
	}

	.button {
		font-size: 5px;
	}

	.project-images {
		width: 100px;
		height: 100px;
	}

	.Images {
		width: 100%;
	}

	.Images-description {
		width: 100%;
		padding: 10px;
	}
}

@media all and (min-width: 1920px) {
	.project-content {
		padding: 100px;
	}
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	color: black;	
	margin: auto;
	min-width: 100%;
	max-width: 100%;
	position: relative;
	background-color: #F9F7F7;
}

.button {
	background-color: black;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 15px;
	font-size: 10px;
}

.button-text {
	text-decoration: none;
	color: white;
}

.button:hover {
	text-decoration: none;
}

#contact {
	color: white;
	height: 100%;
	width: 100%;
	padding: 25px;
	text-align: center;
	background-color: #424242;
}

div {
	position: relative;
}

.divider {
	width: 95%;
	border-width: 3px;
	color: black;
}

.error {
	display: inline;
}

header {
	position: relative;
    text-align: center;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background: url(/images/earthporn.jpg) no-repeat center center fixed;
}

.header-content {
	padding-top: 300px;
	padding-bottom: 300px;
}

hr {
	width: 5%;
	border-width: 2px;
	color: blue;
}

img {
	border-radius: 50%;
}

.icon {
	border-radius: 50%;
}

.icon:hover {
	opacity: 0.6;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.Images {
	position: relative;
	padding: 10px;
	text-align: center;
}

.Images-description {
	text-align: center;
	position: relative;
}

#projects {
	height: 100%;
	padding: 50px 10px 50px 10px;
	width: 100%;
	color: black;
}

.sm {
	text-align: center;
}

.top-content {
	position: relative;
	padding-top: 300px;
	padding-bottom: 300px;
}

ul {
	margin: auto;
	text-align: center;
	list-style: none;
	display: inline;
}

ul li {
	display: inline;
	padding-right: 25px;
}