.full {
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url(../img/bg.jpg) no-repeat center center fixed;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
	text-align: center;
	color: white;
}

.content h1 {
	font-size: 3em;
}

.icon {
	color: white;
    padding: 1em;
}

.center {
    margin: auto;
    text-align: center;
}