#about {
	padding: 200px 250px;
	height: 100%;
	width: 100%;
	color: black;
	text-align: left;
	background-color: #E3E3E3;
	position: relative;
}


.about-content {
	text-align: center;
	position: relative;
	text-align: left;
}

@media all and (max-width: 768px) {
	#about {
		padding: 50px;
		font-size: 5px;
	}

	.button {
		font-size: 5px;
	}

	.Images {
		width: 100%;
	}

	.Images-description {
		width: 100%;
		padding: 10px;
	}

	p {
		font-size: 7px;
	}
}

@media all and (min-width: 1920px) {
	.project-content {
		padding: 300px;
	}
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	color: black;	
	margin: auto;
	min-width: 100%;
	max-width: 100%;
	position: relative;
	background-color: #F9F7F7;
}

.button {
	background-color: black;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 15px;
	font-size: 10px;
}

.button-text {
	text-decoration: none;
	color: white;
}

.button:hover {
	text-decoration: none;
}

#contact {
	color: white;
	height: 100%;
	width: 100%;
	padding: 25px;
	text-align: center;
	background-color: #222222;
}

div {
	position: relative;
}

.divider {
	width: 95%;
	border-width: 3px;
	color: black;
}

.error {
	display: inline;
}

header {
	position: relative;
    text-align: center;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background: url(/Users/jianganson72/Desktop/website/images/earthporn.jpg) no-repeat center center fixed;
}

.header-content {
	padding-top: 300px;
	padding-bottom: 300px;
}

hr {
	width: 5%;
	border-width: 2px;
	color: blue;
}

img {
	border-radius: 50%;
}

.icon {
	border-radius: 50%;
}

.icon:hover {
	opacity: 0.6;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.Images {
	position: relative;
	padding: 10px;
	text-align: center;
}

.Images-description {
	text-align: center;
	position: relative;
	padding: 5px 5px 20px 5px;
}

.Images-content {
	color: white;
	text-align: center;
	top: 75px;
	padding: 0 50px 0;
	left: 20px;
	bottom: 0;
	margin: 0 auto;
	position: relative;
}

#projects {
	height: 100%;
	padding: 100px;
	width: 100%;
	color: black;
}

.sm {
	text-align: center;
}

.top-content {
	position: relative;
	padding-top: 300px;
	padding-bottom: 300px;
}

ul {
	margin: auto;
	text-align: center;
	list-style: none;
	display: inline;
}

ul li {
	display: inline;
	padding-right: 25px;
}